body {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

#header{
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  width: 275px;
  overflow-y: auto;
  transition: transform 0.5s ease;
  z-index: 10002;
  background: #222729;
  box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.125);
}

.top{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}


/*.social-img {
  height: 2em;
  width: 2em;
}

.sidebar {
  position: fixed;
  float: left;
  height: 100%;
  text-align: center;
  background-color: #FFFFFF;
}

.bot-side {
  margin-top: 21.25em;
  float: bottom;
}

.side-border {
  padding-right: 2%;
  padding-left: 2%;
}

.page {
  margin-left: 19%;
  margin-right: 1em;
}

.first-title {
  margin: 0em;
  padding-top: 1.5em;
}

.no-body {
  margin: 0em;
}

a:link {
  color: #767676;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

a:visited{
  color: #767676;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.font{
  font-family: 'Open Sans', sans-serif;
  color: black;
}



.blog-list {
  list-style: none;
  padding-left: 1em;
}

.page-list {
  list-style: square;
  margin-top: 0em;
}

.list-title {
  margin-bottom: 0em;
}*/